/*

/*background color*/
.container {
  background: rgb(196, 35, 35);
  display: inline-block;
  border: 5px solid rgb(155, 37, 37);
  
}

/*box inline*/
#grid {
    display: inline-grid;
    margin: 10px 0;
    
  }
  
  /*box size border*/
  #grid .box {
    border: 1px solid;
    height: 10px;
    width: 10px;
    margin: 0;
    user-select: none;
    grid-gap: 5px;
    cursor: wait;
  }
